doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Document
    link(type="text/css" rel="stylesheet" href="./css/index.css")
    link(type="text/css" rel="stylesheet" href="./css/swiper.css")
    script(src="./js/rem.js")
  body
    include ../components/fiuger.pug
    include ../components/news.pug
    script(src="./js/swiper.js")
    script(src="./js/index.js")


