doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Document
    link(href="./index.css" type="text/css" rel="stylesheet")
  body
    p.text Hello Gulp & pug
    p pug is changed

